.info {
  /*margin-top: 25px;*/
  width: 100%;
  height: 10vh;
  /*background-color: #01ff70;*/
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
  color: rgb(132,132,132);
  /*font-size: 2.5vw;*/
}

.info .text {
  padding-left: 30px;
  margin: auto;
  font-weight: bold;
  /*font-size: x-large;*/
  /*font-size: large;*/
  /*padding-top: 10px;*/
  position: relative;
  text-align: left;
  flex: auto;
  flex-direction: row;
  width: 100px;

  /*font-size: 4rem;*/
  /*background-color: #6d9cbe;*/
}

.info .icon {
  flex: auto;
  flex-direction: row;
  width: 10%;
  /*justify-content: right;*/
  justify-content: center;
  /*padding-right: 15px;*/
}

.info .temperature {
  flex: auto;
  flex-direction: row;
  /*width: 30%;*/
  margin: auto;
  max-width: 65px;
  justify-content: right;
  text-align: right;
  font-size: xx-large;
  padding-right: 10px;
}

.advanced {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  width: 100%;
  height: 5vh;
  color: rgb(132,132,132);
  /*background-color: #5E740B;*/
}

.parameters {
  flex: auto;
  flex-direction: row;
  width: 70%;
}

.humidity {
  /*width: 20%;*/
  padding-left: 5px;
  margin: auto;
}

.direction {
  /*width: 20%;*/
  padding-left: 5px;
  margin: auto;
}

.speed {
  padding-left: 5px;
  margin: auto;
}

.temp {
  flex: auto;
  padding-right: 15px;
  margin: auto;
  flex-direction: row;
  text-align: right;
}

.description {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  margin: auto;
  width: 100%;
  height: 4vh;
  color: rgb(132,132,132);
}

@media screen and (max-width: 500px) {
  .temp {
    font-size: large;
  }
}

@media screen and (min-width: 500px) {
  .temp {
    font-size: x-large;
  }
}

/*Media queries for advanced weather parameters font-size*/

@media screen and (max-width: 325px) {
  .info .text {
    font-size: large;
  }
  .advanced {
    font-size: x-small;
  }
  .description {
    font-size: x-small;
  }
}

@media screen and (min-width: 325px) {
  .info .text {
    font-size: x-large;
  }
}

@media screen and (min-width: 600px) {
  .info .text {
    font-size: x-large;
  }
}

@media screen and (min-width: 900px) {
  .info .text {
    font-size: xx-large;
  }
}
